@font-face {
    font-family: 'Inter';
    src: url('Inter-VariableFont_slnt,wght.ttf') format('truetype');
}
@font-face {
    font-family: 'poppins';
    src: url('Poppins-Black.ttf') format('truetype');
}