.e404-section{
    background-color: #fafafa;
    .red{
        color: #e3252e;
    }
    .row{
        text-align: center;
        .btnCart{
            width:200px;
        }
        p{
            font-size: 2rem;
        }
    }
}


